.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
}
.header a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 36px;
}
.header a:hover{
    color: tomato;
    transition: 0.4s;
}